<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light sticky-top" style="border-bottom:1px solid gray">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="">
        <img src="/images/logo.png" alt="logo" height="40px">
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">

          <li class="nav-item">
            <a class="nav-link " style="color:tomato" aria-current="page" href="/lib">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  aria-current="page" href="/book">Book</a>
          </li>

          <li class="nav-item">
            <a class="nav-link "  aria-current="page" href="/student">Student</a>
          </li>

          <li class="nav-item">
            <a class="nav-link "  aria-current="page" href="/staff">Staff</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Profile</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
</nav>



<main style="margin:10px">
  <table class="table table-striped-columns table-hover rounded" style="border:1px solid gray;text-align: center;">
    <tr style="color:tomato !important" >
      <th style="color:tomato !important">Person ID</th>
      <th style="color:tomato !important">Person Name</th>
      <th style="color:tomato !important">Book Name</th>
      <th style="color:tomato !important">Action</th>
    </tr>

    <% if(libs[0]){ %>
      <tr>
        <td colspan="5" class="table-secondary" style="color: tomato;font-size: 22px;text-align: left;"><b>Waiting List</b></td>
      </tr>
    <% } %>
    <% libs.map((lib)=>{ %>
      <tr>
        <% if(lib.staff_id){%>
          <td>Staff : <%= lib.staff_id %></td>
        <% }else{%>
          <td>Student : <%= lib.student_id %></td>
        <% }%>
        <td><%= lib.person_name %></td>
        <td><%= lib.book_name %></td>
        <td>
          <div style="display: flex;justify-content: space-evenly;align-items: center;">
            <form action="/lib/view" method="post">
              <input type="hidden" name="id" value="<%= lib.id %>">
              <button style="border: none;background:none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill text-primary" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
              </button>
            </form>

          </div>
        </td>
      </tr>
    <% }) %>


    <% if(libsLists[0]){ %>
      <tr>
        <td colspan="5" class="table-secondary" style="color: tomato;font-size: 22px;text-align: left;"><b>List</b></td>
      </tr>
    <% } %>
    <% libsLists.map((libList)=>{ %>
      <tr>
        <% if(libList.staff_id){%>
          <td>Staff : <%= libList.staff_id %></td>
        <% }else{%>
          <td>Student : <%= libList.student_id %></td>
        <% }%>
        <td><%= libList.person_name %></td>
        <td><%= libList.book_name %></td>
        <td>
          <div style="display: flex;justify-content: space-evenly;align-items: center;">
            <form action="/lib/view" method="post">
              <input type="hidden" name="id" value="<%= libList.id %>">
              <button style="border: none;background:none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill text-primary" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
              </button>
            </form>

            <form action="/lib/delete" method="post" onsubmit="return confirm('Do you Want to delete?')">
              <input type="hidden" name="id" value="<%= libList.id %>">
              <input type="hidden" name="id" value="<%= libList.book_id %>">
              <button style="border: none;background:none" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
              </button>
            </form>

          </div>
        </td>
      </tr>
    <% }) %>

  </table>
</main>


<div style="display:flex;height:50px;width:100%;position: fixed;bottom:0px;background-color: whitesmoke;border-top:1px solid gray">
  <div style="display: flex;justify-content:flex-start;width:100%;align-items: center;margin-left: 5px;">
    <span>Search :&ensp;</span>
    <form action="/lib" method="get">
      <input type="text" name="person_id" placeholder="Staff / Student ID" style="text-align:center;height:40px;width:180px;border: 1px solid gray;border-radius: 5px;">
      <button style="height:40px;width:180px;border: 1px solid gray;border-radius: 5px;">Search </button>
    </form>
  </div>
  <div style="display: flex;justify-content:flex-end;align-items:flex-end;width:50%;height:100%">
    <p style="margin-bottom: 10px;margin-right: 10px;">Total : <%= total %></p>
  </div>
</div>




    
</body>
</html>